<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="pag.js"></script>  

    <style>
      * {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }

      .topnav {
        overflow: hidden;
        background-color: black;
      }

      .topnav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a.active {
        background-color: black;
        color: white;
      }

      .topnav .search-container {
        float: right;
      }

      .topnav input[type='text'] {
        padding: 6px;
        margin-top: 7px;
        font-size: 17px;
        border: none;
      }


      .topnav .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 7px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        height: 36px;
        cursor: pointer;
      }
      body {
          background: #100c08;
         color:white;
          font-family:	Trebuchet MS;
      }

      .topnav .search-container button:hover {
        background: #ccc;
      }
      img {
      float:left;
      width:300px;
      height:420px;
      padding-left:30px;
      padding-top:40px;
      }
      section {
      
       background-image:url('https://image.tmdb.org/t/p/w500/<%=detailsData.backdrop_path%>') ;
       background-repeat: no-repeat;
      background-size:900px;

       
      width:100%;
      height:500px;
      border: rgba(76,196,222, 0.3);
      color:white;
      text-align:left;
      margin-left:200px;
       padding-right:600px;
       font-weight:bolder;
      
      }
      
      .movie-info {
      float:right;
      margin-left:320px;
      margin-top:-405px;
      }
     .overview{
     font-style:italic;
      }
    .trailer {
      float:center;
      margin-left:150px;
      
      }
      .trailer h3 {
      text-align:left;
      
      }
   
      
      .movie-info h3 {
      font-weight: bolder;
      }
        #next,#prev{
       
        font-family:	Arial;
        color:black;
        height:30px;
       
        
      }
      #pageNumber {
        width:50px;
        height:30px;
        text-align:center;
        background-color:light grey;
      }
      .naslov {
      font-family:Arial, Helvetica, sans-serif;
    
      
      }
      .trailer {
      float:center;
      margin-left:230px
      }
     hr {
      border: 1px solid white;
      margin-right:10px;
      }
.tekst{
          margin-right:-10px;
          color:white;
        }
      @media screen and (max-width: 600px) {
        .topnav .search-container {
          float: none;
        }
        .topnav a,
        .topnav input[type='text'],
        .topnav .search-container button {
          float: none;
          display: block;
          text-align: left;
          width: 100%;
          margin: 0;
          padding: 14px;
        }
        .topnav input[type='text'] {
          border: 1px solid #ccc;
        }
      }
    </style>
  </head>
  <body>
    <div class="topnav">
      <a href="/movies">Popular Movies</a>
      <a href="/shows">Popular TV Shows</a>
      <div class="search-container">
        <form action="/display" method="GET" >
        <div class="searchform">
          <input type="text" placeholder="Search.." name="searchBy" />
          <button type="submit"><i class="fa fa-search"></i></button>
          </div>
          <div class="pagination">
    
    <input type="text" value="1" id = "pageNumber" name="pageNumber">
   <h4 class="tekst">Pick the page number </h4>
  </div>
        </form>
      </div>
    </div>
    <div class="all-info">
   
    <div class="container">
     
      <section>
         <img src="https://image.tmdb.org/t/p/w500//<%= detailsData.poster_path %>" >
        <div class="movie-info">
          
       
        <h3 class="naslov">
         <%= detailsData.original_title %>
         
        </h3>
         <p>
           <%= detailsData.release_date %>
          </p>
        
        <p>
        <% if (detailsData.genres.length>0 && detailsData.genres!==null) { %>
         <%= detailsData.genres[0].name %>
          <% } %>
        </p>
        <p>
         Duration: <%= detailsData.runtime %>min
        </p>
          <small>
         Vote Average  <span class="fa fa-star checked "></span><%= detailsData.vote_average  %>
        </small>
        <h5 style="font-style:italic">
          Overview:
         
        </h5>
        <p class="overview">
           <%= detailsData.overview %>
        </p>
          <hr>
           </div>
    
    </div>
     
       </section>
    <div class="trailer">
     <% if (detailsData.videos.results!==null && detailsData.videos.results.length>0) { %>
    <h3>
      Watch Trailer
      </h3>
<iframe width="820" height="515" src="https://www.youtube.com/embed/<%=detailsData.videos.results[0].key%>">
      </iframe>
    <% } %>
    </div>
 
       </div>
    
  </body>
</html>
